@import '../../../styles/mixins.scss';
@import '../../../styles/variables.scss';

.controllers {
  @include center;
  width: 80%;
  margin: 1rem;
}

.controlsButton {
  @include cartoonOutline;
  background: $dark-heavy-tones;
  height: 3.75rem;
  width: 3.75rem;
  border-radius: 50%;
  border-left: $border-radius solid $dark-shadows;
  border-bottom: $border-radius solid $dark-shadows;
}

.controlsLongButton {
  @include cartoonOutline;
  height: 0.938rem;
  width: 4.375rem;
  background: $light-background;
  margin: 0.938rem;
  border-radius: $border-radius;
}
