//Color Variables
$pokedex-primary-color: #cc1142;
$pokedex-secondary-color: #90062a;
$dark-light-tones: #4d4847;
$dark-heavy-tones: #2c2c2c;
$dark-lighter-shadows: #838584;
$dark-shadows: #000000;
$light-background: #ffffff;
$plesant-tones: #5fc480;
$complementary-primary-color: #6ab7f5;
$complementary-primary-color-dark: #1142cc;
$complementary-primary-color-light: #a0c4ff;
$adjacent-complementary-color: #d4cead;

//Border Radius
$border-radius: 0.63rem;
