//Color Variables
$color-primary: #0070f3;
$pokedex-primary-color: #cc1142;
$pokedex-secondary-color: #90062a;
$dark-light-tones: #4d4847;
$dark-heavy-tones: #2c2c2c;
$dark-shadows: #000;
$light-background: white;
$plesant-tones: #5fc480;

//Padding
$font-padding: 1rem;
