@import '../../../styles/variables.scss';
@import '../../../styles/mixins.scss';

.searchInputContainer {
  @include center;
  @include cartoonOutline;

  background: linear-gradient(
    to bottom,
    $pokedex-secondary-color 80%,
    $dark-heavy-tones 81%
  );
  margin: 0.625rem;
  border-radius: calc($border-radius / 2);

  input {
    border: none;
    padding: 0.625rem;
    margin: 0.313rem 0 0.313rem 0.313rem;
    border-radius: calc($border-radius / 2);
    width: calc(100% - 0.625rem);
  }
}
