@import '../../../styles/mixins.scss';
@import '../../../styles/variables.scss';

.infoDisplay {
  @include center;
  @include cartoonOutline;
  background: $plesant-tones;
  height: 5.625rem;
  width: 60%;
  border-radius: $border-radius;
  margin: 1.5rem;
}
