@import '../../../styles/variables.scss';
@import '../../../styles/mixins.scss';

.lightsContainer {
  height: 6.25rem;
  width: 100%;
  display: flex;
}

.bgLight {
  @include cartoonOutline;
  background: radial-gradient(
    ellipse at center,
    #a0c4ff 0%,
    #3b82f6 50%,
    #1142cc 100%
  );
  border-radius: 50%;
  border-top: 0.313rem solid $light-background;
  border-right: 0.313rem solid $light-background;
  border-bottom: 0.625rem solid $light-background;
  border-left: 0.625rem solid $light-background;
  height: 3.75rem;
  width: 3.75rem;
  margin: 0.625rem 0 0.625rem 0.625rem;
}

.smallLightsContainer {
  display: flex;
  padding-top: 0.313rem;
}

.smallLights {
  @include cartoonOutline;
  border-radius: 50%;
  margin: 0.438rem;
  height: 1.563rem;
  width: 1.563rem;
  background: radial-gradient(
    ellipse at center,
    #d4cead 0%,
    #42cc89 50%,
    #cc1142 100%
  );
}
