@import '../../../styles/variables.scss';

.lightsContainer {
  height: 6.25rem;
  width: 100%;
  display: flex;
}

.bgLight {
  background: radial-gradient(
    ellipse at center,
    #a8f2fb 0%,
    #0df1fc 50%,
    #0ebcd4 100%
  );
  border-radius: 50%;
  border-top: 0.313rem solid $light-background;
  border-right: 0.313rem solid $light-background;
  border-bottom: 0.625rem solid $light-background;
  border-left: 0.625rem solid $light-background;
  height: 3.75rem;
  width: 3.75rem;
  margin: 0.625rem 0 0.625rem 0.625rem;
}

.smallLightsContainer {
  display: flex;
  padding-top: 0.313rem;
}

.smallLights {
  border-radius: 50%;
  margin: 0.438rem;
  height: 1.563rem;
  width: 1.563rem;
  background: radial-gradient(ellipse at center, #dee25a 0%, #8e993b 100%);
}
